.section {
  display: flex;
  gap: 2rem;
}

.personalDataContainer {
  flex: 1;
}

.addressHeader {
  display: flex;
  > svg {
    color: var(--yellow-dark);
  }

  > div {
    margin-left: 0.5rem;

    > p {
      color: #403937;

      /* Text/Regular M */
      font-family: 'Roboto';
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 1.3rem */
    }
    > span {
      color: #574F4D;

      /* Text/Regular S */
      font-family: 'Roboto';
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 1.1375rem */
    }
  }
}

.address, .payment {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 0.375rem;
  background: var(--base-card, #F3F2F2);
  margin: 1rem 0;
}
.address {
  align-self: stretch;
}


.formAddress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.input {
  display: flex;
  padding: 0.75rem;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 1px solid var(--base-button, #E6E5E5);
  background: var(--base-input, #EDEDED);

  &:focus {
    outline: none !important;
    border-color: var(--yellow-dark);
    /* box-shadow: 0 0 5px var(--yellow-dark); */
  }
}

.twoFields, 
.threeFields {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
}

.paymentHeader {
  display: flex;
  > svg {
    color: var(--purple);
  }

  > div {
    margin-left: 0.5rem;

    > p {
      color: #403937;

      /* Text/Regular M */
      font-family: 'Roboto';
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 1.3rem */
    }
    > span {
      color: #574F4D;

      /* Text/Regular S */
      font-family: 'Roboto';
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 1.1375rem */
    }
  }
}

.paymentMethods {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
  > div {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.75rem;
    flex: 1 0 0;
    text-transform: uppercase;

    border-radius: 0.375rem;
    border: 1px solid;
    border-color: #E6e5e5;
    
    background: #E6E5E5;
    color: #574F4D;

    /* Components/Button S */
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 1.2rem */
    cursor: pointer;
    > svg {
      width: 1rem;
      height: 1rem;
      color: var(--purple);
    }
  }
}

.selected {
  border-radius: 0.375rem;
  border-color: var(--purple) !important;
  border: 1px solid;
}

.nameAndQuantity {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary {

}

.personalTitle,
.summaryTitle {
  color: #403937;
  /* Title/Title XS */
  font-family: 'Baloo 2';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.4625rem */
  margin-bottom: 1rem;
}

.cartItems {
  display: flex;
  width: 28rem;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 0.375rem 2.75rem;
  background: #F3F2F2;
}

.item {
  display: flex;
  flex-direction: row;
  display: flex;
  padding: 0.5rem 0.25rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid #E6E5E5;
}

.totalItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
}

.text {
  color: #574F4D;
  text-align: right;

  /* Text/Regular S */
  font-family: 'Roboto';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 1.1375rem */
}

.value {
  color: #574F4D;
  text-align: right;

  /* Text/Regular M */
  font-family: 'Roboto';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 1.3rem */
}

.textBold {
  color: #403937;
  text-align: right;

  /* Text/Bold L */
  font-family: 'Roboto';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.625rem */
}

.valueBold {
  color: var(--base-subtitle, #403937);
  text-align: right;

  /* Text/Bold L */
  font-family: 'Roboto';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.625rem */
}

.btnConfirm {
  display: flex;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;

  border: none;
  border-radius: 0.375rem;
  background: var(--yellow);
  color: var(--white);

  text-transform: uppercase;
  &:hover {
    opacity: .9;
  }
}